*{
    margin: 0px;
    padding: 0px;
}


.grid{
    display: grid;
    grid-template-columns: 1fr;
    /* border:2px solid red; */
}
.griditems{
    margin:4px 10px;
    border-radius:20px ;
    /* border:2px solid green; */
}
.flex{
    display: flex;
    justify-content: space-between;
}
.heading-flex{
    display: flex;
}
.heading-flex span{
    display: inline-block;
    margin:4px;
    background-color:hsl(219, 85%, 26%);
    height:30px;
    width:30px;
    font-size: 26px;
    color: white;
    border-radius:6px;
    text-align: center;
}
.mark{
    font-size: 24px;
    padding-top:6px;
    color: hsl(219, 12%, 42%);
}
.item2{
    display: flex;
    background-color:hsl(211, 68%, 94%);
}
.item3{
    display: flex;
    background-color:hsl(211, 68%, 94%);
}
.item4{
    display: flex;
    background-color:hsl(211, 68%, 94%);
}
#item-4-span3{
    color: blue;
    font-size: 28px;

}
.item5{
    display: flex;
}
.item6{
    display: flex;
}

.item7{
    display: flex;
}
.item8{
    display: flex;
}
p{
    color:hsl(219, 14%, 63%);
    font-size: 24px;
    font-weight:500;
}
.text{
    border:2px solid  hsl(211, 68%, 94%);
    border-radius: 4px;
    font-size: 23px;
    font-weight: 400;
    padding: 6px;
}
.spans{
    display: inline-block;
    margin:1em  0px;
    padding: 16px 7px;
    box-sizing: border-box;
}
.img{
    margin:1em 10px;
    padding:20px 2px 0px 2px;

}
#span1{
    color: hsl(224, 21%, 14%);
    font-size: 22px;
    font-weight: 700;
}
#span2{
    color:hsl(219, 14%, 63%);
    font-size: 21px;
    font-weight:500;
}
#span3{
    color:hsl(219, 12%, 42%);
    font-size: 23px;
}
#span4{
    display: inline-block;
    height:10px;
    width:10px;
    border-radius:50%;
    background-color: red;

}
/* - White: hsl(0, 0%, 100%)
- Very light grayish blue: hsl(210, 60%, 98%)
- Light grayish blue 1: hsl(211, 68%, 94%)
- Light grayish blue 2: hsl(205, 33%, 90%)
- Grayish blue: hsl(219, 14%, 63%)
- Dark grayish blue: hsl(219, 12%, 42%)
- Very dark blue: hsl(224, 21%, 14%) */